:root {
    --background-pastel: #f8edeb;
    --middleground-pink: #eebec6;
    --foreground-pink: #f49595;
    --foreground-orange: #fec89a;
    --accent-beige: #f1cebe;
    --accent-red: #ff6e6e;
}

@font-face {
    font-family: "Patrick Hand";
    src: url("/PatrickHand-Regular.ttf") format("truetype");
}

html, body {
    padding: 0px;
    margin: 0px;
    background: var(--background-pastel);
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
}

* {
    font-family: "Patrick Hand";
}

main {
    position: relative;
    z-index: 0;
}

.setup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__time {
    display: flex;
    flex-direction: column;
}

.form__time-inputs {
    display: flex;
    gap: 1rem;
    text-align: center;
    width: 100%;
}

.form__time-inputs > input,
.form__time-inputs > select {
    background: #ffffff;
    border: none;
    font-size: 1.8em;
    padding: 0.3em 0.7em;
    border-radius: 100px;
    box-shadow: 0px 0px 10px #00000033;
    flex: 1;
    width: 200px;
    appearance: none;
    cursor: pointer;
}

.form__time-inputs > select {
    background-image: url("Dropdown.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    background-size: 20px;
}

.form__time-input-adjustments {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0px;
}

.form__message-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.8rem;
}

.form__message-input-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000033;
}

.form__message-input-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.form__message-input input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 2em;
    text-align: center;
    margin: 5px 10px;
    margin-left: 0px;
}

.form__volume-test {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    cursor: pointer;
}

.form__volume-test:hover img {
    filter: drop-shadow(0px 0px 5px #0000003C);
}

.form__volume-test img {
    width: 1.5em;
    transition: filter 0.1s;
}

.form__start {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 0px 20px -10px #000033;
    transition: transform 0.1s;
    cursor: pointer;
}

.form__start:hover {
    transform: scale(1.1);
}

.form__start img {
    width: 1.4em;
    padding-left: 2px;
}

.form__counter-balance,
.form__start {
    aspect-ratio: 1;
    height: 100%;
}

.roller-hook {
    width: 100%;
    text-align: center;
    font-size: 5em;
    padding: 3rem 0px;
}

.text-roller {
    --percent: 1;
    --before: "anything.";
    --after: "anything.";

    position: relative;
    color: transparent;
    display: block;
}

.text-roller::before, .text-roller::after {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

.text-roller::before {
    content: var(--before);
    opacity: calc(1 - pow(var(--percent), 1 / 6));
    color: #000000;
    transform: translateY(calc(-0.5em * pow(var(--percent), 1 / 3)));
}

.text-roller::after {
    content: var(--after);
    opacity: calc(pow(var(--percent), 6));
    color: #000000;
    transform: translateY(calc(0.5em * (1 - pow(var(--percent), 3))));
}

#player {
    display: none;
}

.modals {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: #0000007f;
    pointer-events: none;
    transition: opacity 1s;
}

.modals.active {
    display: flex;
    pointer-events: all;
    opacity: 1;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    padding: 0px;
}

.modal__title {
    font-size: 3em;
    padding: 2rem 5rem 0px 5rem;
}

.modal__content {
    padding: 2rem 3rem;
}

.modal__footer {
    font-size: 1.5em;
    background: #f4f4f4;
    width: 100%;
    text-align: center;
}

.modal__footer span {
    display: block;
    box-shadow: 0px 0px 10px #00000033;
    padding: 0px 0.5em;
    border-radius: 100px;
    width: fit-content;
    margin: auto;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background: #ffffff;
    user-select: none;
    cursor: pointer;
    transition: transform 0.1s;
}

.modal__footer span:hover {
    transform: scale(1.1);
}